$color: #ee6767;

* {
  text-decoration: none;
}

.header {
  height: 200px;
  background-color: #6491e6;
}

.footer {
  height: 200px;
  background-color: #6491e6;
}

a {
  color: #000;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 8px;
  margin-bottom: 8px;
  &:hover {
    background: #eee;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: #fff67c;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
